
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #696969; 
    --secondary-color: #800000;

}

body{
    background-color: var(--primary-color);
    font-family: 'Merriweather';
    margin: 0;

}

Header{
    padding: 1rem;
    display: flex;
    Justify-content: flex-end;
    background-color: var(--secondary-color);


}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem; 
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}