
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


:root{
    --primary-color: #696969; 
    --secondary-color: #4682B4;

}

body{
    background-color: var(--primary-color);
    font-family: 'Merriweather';
    margin: 0;

}

Header{
    padding: 1rem;
    display: flex;
    Justify-content: flex-end;
    background-color: var(--secondary-color);


}

.search{
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem; 
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    
}